
body {
    margin: 0;
}

img {
    width: 100%;
}

.txtcenter {
    text-align: center;
}

.inner {
    width: 100%;
}

.imgContainer {
    width: 100%;
    margin: 5px;
}

.tablette, .desktop, .desktopG {
    display: none;
}

@media screen and (min-width: 768px) {
    .inner {
        width: 95%;
        margin: 0 auto;
    }

    .imgContainer {
        width: 48%;
        display: inline-block;
    }

    .telephone {
        display: none;
    }

    .tablette {
        display: block;
    }
}

@media screen and (min-width: 1370px) {
    .inner {
        width: 1300px;
    }

    .imgContainer {
        width: 635px;
    }

    .tablette {
        display: none;
    }

    .desktop {
        display: block;
    }

}

@media screen and (min-width: 1600px) {
    .inner {
        width: 1600px;
    }

    .imgContainer {
        width: 365px;
    }

    .desktop {
        display: none;
    }

    .desktopG {
        display: block;
    }
}